@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root{
    --purple: hsl(259, 100%, 65%);
--light-red: hsl(0, 100%, 67%);
    --white: hsl(0, 0%, 100%);
--off-white: hsl(0, 0%, 94%);
--light-grey: hsl(0, 0%, 86%);
--smokey-grey: hsl(0, 1%, 44%);
--off-black: hsl(0, 0%, 8%);
}

body{
    min-height: 100vh; display: grid; place-items: center;
    background-color: var(--light-grey) !important;
}

.install-button{
    color: white;
    background-image: linear-gradient(180deg, hsl(273, 75%, 66%), 
    hsl(240, 73%, 65%));
  }
  
  .install-button:hover{
    background-image: linear-gradient(180deg, hsl(273, 62%, 80%), 
    hsl(240, 68%, 73%));
  }
  
  .attribution { font-size: 11px; text-align: center; clear: right;}
  .attribution a { color:orange; }
  .attribution a:hover{ color:rgb(142, 118, 78); font-weight: bold;}
  

.main-container{
    border-radius: 3% 3% 20% 3%;
    padding: 40px;
}

.label-class{
    text-transform: uppercase;
    color: var(--smokey-grey-color);
    font-size: 10px;
    font-weight: 700;
    color: var(--smokey-grey);
    letter-spacing: 2px;
    margin-bottom: 6px;
}

.first-inputs{
    font-size: 32px;
    font-weight: 700;
    width: 145px;
    border-color: var(--light-grey);
    border-top-color:  hsla(0, 1%, 44%, 0.2);
    border-left-color:  hsla(0, 1%, 44%, 0.2);
    border-width: 1px;
}

.first-inputs:hover{
    border-color: var(--purple);
    cursor: pointer;
}

.first-inputs[type=text]:focus{
    outline: none !important;
    border-color: var(--purple);
}

.first-line{
    background-color: var(--light-grey);
    height: 1px;
    width: 550px;
    margin-top: 35px;
}

.result-btn{
    background-color: var(--purple);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-top: -5px;
}

.result-btn:hover{
    background-color: black;
}

.fisrt-arc{
    display: inline-block;
    border-right: 2px solid white;
    border-top: 2px solid white;
    height: 20px;
    width: 20px;
    border-top-right-radius: 100%;
    margin-right: -1.5px;
}

.middle-line{
    display: inline-block;
    background-color: white;
    width: 1.5px;
    height: 40px;
}

.second-arc{
    display: inline-block;
    border-left: 2px solid white;
    border-top: 2px solid white;
    height: 20px;
    width: 20px;
    border-top-left-radius: 100%;
    margin-left: -1.5px;
}

.result{
    color: black;
    font-size: 5.5em;
    font-weight: 800;
    font-style: italic;
    margin-top: -45px;
}

.result-digits{
    color: var(--purple);
}

p{
    height: 100px;
}

.invalid{
    color: var(--light-red);
    font-size: 14px;
    font-weight: 400;
}

.label-invalid{
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 6px;
}

.required-field{
    font-style: italic;
}

/*RESPONSIVE 375PX WIDTH*/
@media only screen and (max-width: 375px) {
    .main-container{
      width: 355px;
      padding-left: 0%;
      margin-left: 3px;
      border-bottom-right-radius: 30%;
    }

    .first-container{
        width: 320px;
        margin-left: 18px;
    }

    .first-inputs{
        width: 90px;
        font-size: 20px;
    }

    .first-line{
        width: 135px;
        margin-top: 45px;
    }

    .result-btn{
        width: 50px;
        height: 50px;
        margin-top: 20px;
    }

    .second-line{
        width: 134px;
        background-color: var(--light-grey);
        height: 1px;
        margin-top: 45px;
    }

    .fisrt-arc{
        width: 12px;
        height: 10px;
    }

    .second-arc{
        width: 12px;
        height: 10px;
    }

    .middle-line{
        height: 20px;
    }

    .result{
        font-size: 3.4em;
        margin-top: 0px;
        margin-left: 20px;
    }

    p{
        height: 50px;
    }
  }